<template>
  <v-app>
    <v-toolbar hover>
      <v-toolbar-side-icon @click.stop="drawer = !drawer" color="orange"></v-toolbar-side-icon>
      <v-toolbar-title>
        <span style="color:orange;">{{header}}</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-tooltip bottom color="yellow">
          <template v-slot:activator="{on}">
            <v-btn @click="home" v-on="on" flat>
              <v-icon dark color="orange">home</v-icon>
            </v-btn>
          </template>
          <span style="color:black">Homepage</span>
        </v-tooltip>
        <v-tooltip bottom color="yellow">
          <template v-slot:activator="{on}">
            <v-btn @click="about" v-on="on" flat>
              <v-icon dark color="orange">info</v-icon>
            </v-btn>
          </template>
          <span style="color:black">About</span>
        </v-tooltip>
        <v-tooltip bottom color="yellow">
          <template v-slot:activator="{on}">
            <v-btn @click="signout" v-on="on" flat>
              <v-icon dark color="orange">meeting_room</v-icon>
            </v-btn>
          </template>
          <span style="color:black">Sign Out</span>
        </v-tooltip>
      </v-toolbar-items>
    </v-toolbar>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="mini"
      style="color:orange;"
      absolute
      temporary
    >
      <v-list class="pa-1">
        <v-list-tile v-if="mini" @click.stop="mini = !mini">
          <v-list-tile-action>
            <v-icon>chevron_right</v-icon>
          </v-list-tile-action>
        </v-list-tile>
        <v-list-tile avatar tag="div">
          <v-list-tile-avatar>
            <v-avatar v-if="userPhoto">
              <v-dialog max-width="500px">
                <template v-slot:activator="{ on }">
                  <img :src="userPhoto" v-on="on" />
                </template>
                <v-card hover>
                  <v-container grid-list-md>
                    <v-layout row>
                      <v-flex xs12 sm6 md4 reverse>
                        <v-img :src="userPhoto"></v-img>
                      </v-flex>
                      <v-layout column justify-center align-center>
                        <h1>
                          <v-icon>arrow_drop_down</v-icon>Photo URL
                          <v-icon>arrow_drop_down</v-icon>
                        </h1>
                        <h3>{{userPhoto}}</h3>
                        <h5>[ Size : 200x300 px ]</h5>
                      </v-layout>
                    </v-layout>
                  </v-container>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="orange" flat @click="drawer = !drawer">Close</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-avatar>
            <v-avatar v-else>
              <v-icon>person</v-icon>
            </v-avatar>
            <template v-slot:activator="{on}"></template>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-text-field v-model="name" :value="name" color="orange" disabled></v-text-field>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn icon @click.stop="mini = !mini">
              <v-icon>chevron_left</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
      <v-list class="pt-0" dense>
        <v-divider light></v-divider>
        <v-list-tile>
          <v-list-tile-action>
            <v-icon color="orange">lock</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-dialog max-width="500px">
              <template v-slot:activator="{ on }">
                <v-list-tile-title v-on="on" style="color:orange">Change Password</v-list-tile-title>
              </template>
              <v-card hover>
                <v-card-title>
                  <span class="headline">Change {{ name }} Password</span>
                </v-card-title>
                <v-container grid-list-md>
                  <v-layout wrap column>
                    <v-flex xs12 sm6 md4>
                      <v-text-field
                        type="password"
                        label="Current Password"
                        v-model="password.old"
                        color="orange"
                      ></v-text-field>
                      <v-text-field
                        type="password"
                        label="New Password"
                        v-model="password.new"
                        color="orange"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="orange" flat @click="chgpw">Change</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-action>
            <v-icon color="orange">photo_library</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-dialog max-width="500px">
              <template v-slot:activator="{ on }">
                <v-list-tile-title v-on="on" style="color:orange">Photo Profile</v-list-tile-title>
              </template>
              <v-card hover>
                <v-card-title>
                  <span class="headline">Pick Preferred Image</span>
                </v-card-title>
                <v-container grid-list-md>
                  <v-layout wrap column>
                    <v-flex xs12 sm6 md4>
                      <v-avatar v-for="(p,i) in photos" :key="i">
                        <img :src="p" @click="chgphoto(p)" />
                      </v-avatar>
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="orange" flat @click="drawer = !drawer">Close</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-expansion-panel>
      <v-expansion-panel-content v-for="(i,no) in Quiz" :key="no">
        <template v-slot:header>
          <div>🔥 No. {{no + 1}}</div>
        </template>
        <v-card hover>
          <v-card-text>{{i.text}}</v-card-text>
          <v-radio-group v-model="opt[no]" row>
            <v-radio :label="i.a" color="orange" value="a"></v-radio>
            <v-radio :label="i.b" color="orange" value="b"></v-radio>
            <v-radio :label="i.c" color="orange" value="c"></v-radio>
            <v-radio :label="i.d" color="orange" value="d"></v-radio>
          </v-radio-group>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
    <v-layout justify-center>
      <v-btn color="orange" @click="submit" round :loading="loading">
        <span>Submit Answer ✔️</span>
      </v-btn>
    </v-layout>
  </v-app>
</template>

<script>
import firebase from "firebase";
import router from "@/router";

const _db = firebase.firestore();
const _auth = firebase.auth();

export default {
  data() {
    return {
      userPhoto: "",
      photos: [],
      icon: "",
      mini: false,
      password: { new: "", old: "" },
      drawer: null,
      name: "",
      Quiz: [],
      opt: [],
      score: 0,
      loading: false
    };
  },
  computed: {
    header() {
      return localStorage.getItem("type") == "pretest"
        ? "Pre-test" + " " + localStorage.getItem("name")
        : "Post-test" + " " + localStorage.getItem("name");
    }
  },
  methods: {
    chgphoto: function(v) {
      this.userPhoto = v;
      _auth.currentUser.updateProfile({ photoURL: v }).catch(er => {
        alert(er);
      });
    },
    chgpw: function() {
      _auth.currentUser
        .reauthenticateWithCredential(
          firebase.auth.EmailAuthProvider.credential(
            _auth.currentUser.email,
            this.password.old
          )
        )
        .then(
          _auth.currentUser
            .updatePassword(this.password.new)
            .then(e => alert("password updated succesfully ", e))
            .catch(r => alert(r))
        );
    },
    signout: function() {
      firebase
        .auth()
        .signOut()
        .then(function() {
          router.push("/");
        });
    },
    about: function() {
      router.push("/about");
    },
    home: function() {
      router.push("/exam");
    },
    submit: function() {
      this.score = 0;
      if (!this.loading) {
        this.loading = true;
        for (var i = 0; i <= this.opt.length - 1; i++) {
          if (this.opt[i] == this.Quiz[i].answer) this.score += 10;
        }
        var data = {
          username: _auth.currentUser.displayName,
          photo: _auth.currentUser.photoURL,
          type: localStorage.getItem("name")
        };
        localStorage.getItem("type") == "pretest"
          ? (this.score < 60
              ? (data.status = "Not Good")
              : (data.status = "Good"),
            (data.pretest = this.score))
          : (data.posttest = this.score);
        if (
          !_db.collection("Score").where("uid", "==", _auth.currentUser.uid)
        ) {
          _db
            .collection("Score")
            .where("uid", "==", _auth.currentUser.uid)
            .onSnapshot(s => {
              s.docs.map(m => {
                if ((m.data().pretest + m.data().posttest) / 2 < 60)
                  data.status = "Not Good";
                else data.status = "Good";
                _db
                  .collection("Score")
                  .doc(m.data().id)
                  .update(data)
                  .then(() => {
                    localStorage.clear("name");
                    localStorage.clear("type");
                    this.loading = false;
                    router.push("/score");
                  })
                  .catch(r => {
                    alert(r);
                    router.push("/");
                  });
              });
            });
        } else {
          _db
            .collection("Score")
            .add(data)
            .catch(e => alert(e))
            .then(t => {
              t.update({
                id: t.id,
                uid: _auth.currentUser.uid,
                date: new Date().toISOString().substring(0, 10)
              });
              localStorage.clear("name");
              localStorage.clear("type");
              this.loading = false;
              router.push("/score");
            });
        }
      }
    }
  },
  mounted() {
    this.name = _auth.currentUser.displayName;
    this.userPhoto = _auth.currentUser.photoURL;
    for (let i = 0; i <= 107; i++) {
      const rand = Math.floor(Math.random() * 999);
      this.photos.push("https://picsum.photos/id/" + rand + "/200/300");
    }
  },
  beforeCreate() {
    const db = localStorage.getItem("name");
    const type = localStorage.getItem("type");
    if (!db || !type) router.push("/exam");
    this.Quiz = _db
      .collection(db)
      .where(type, "==", true)
      .onSnapshot(querySnapshot => {
        var q = querySnapshot.docs.map(docSnap => {
          return docSnap.data();
        });
        this.Quiz = q;
      });
  }
};
</script>