<template>
  <v-app>
    <v-toolbar dense color="orange">
      <v-toolbar-title>
        <span style="color:white">About Developer</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <!-- <v-tooltip bottom color="orange">
          <template v-slot:activator="{on}">
            <v-btn @click="score" v-on="on" flat>
              <v-icon color="white">assessment</v-icon>
            </v-btn>
          </template>
          <span style="color:white">Score</span>
        </v-tooltip>-->
        <v-tooltip bottom color="orange">
          <template v-slot:activator="{on}">
            <v-btn @click="home" v-on="on" flat>
              <v-icon color="white">home</v-icon>
            </v-btn>
          </template>
          <span style="color:white">Homepage</span>
        </v-tooltip>
      </v-toolbar-items>
    </v-toolbar>

    <v-container>
      <v-layout justify-center align-center column>
        <v-flex style="margin-right:5%;margin-left:5%;margin-top:12.5%;margin-bottom:15%;">
          <v-card elevation="24">
            <v-img
              src="https://firebasestorage.googleapis.com/v0/b/artuseum-75.appspot.com/o/izzatzr%2F8.jpg?alt=media&token=f12c9377-7709-4e6d-8dec-a5b8bd9523e6"
            >
              <v-layout align-center column>
                <v-card-title primary-title>
                  <div>
                    <h3 class="headline" style="color:white;">By Izzat Zuliya R.</h3>
                  </div>
                </v-card-title>
                <v-layout align-center justify-center column>
                  <v-card-text style="color:white">Made With Vuejs + Vuetify and Firebase</v-card-text>
                </v-layout>
                <v-card-actions>
                  <a href="izzatzr97@gmail.com">
                    <v-avatar>
                      <v-icon color="white" large>email</v-icon>
                    </v-avatar>
                  </a>
                  <a href="https://github.com/izzatzr/LPEC">
                    <v-avatar size="35">
                      <v-icon color="white" large>code</v-icon>
                    </v-avatar>
                  </a>
                </v-card-actions>
              </v-layout>
            </v-img>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-bottom-nav active.sync :value="true" color="orange">
      <v-layout justify-center>
        <v-tooltip top color="orange">
          <template v-slot:activator="{on}">
            <v-btn @click="score" v-on="on" flat>
              <v-icon dark color="white">assessment</v-icon>
            </v-btn>
          </template>
          <span style="color:white">Score</span>
        </v-tooltip>
        <v-tooltip top color="orange">
          <template v-slot:activator="{on}">
            <v-btn @click="openForm" v-on="on" flat>
              <v-icon dark color="white">bug_report</v-icon>
            </v-btn>
            <v-dialog v-model="form" max-width="500px">
              <v-card hover>
                <v-card-title>
                  <v-layout justify-center>
                    <span
                      class="headline"
                      style="color:orange"
                    >Describe Your Evaluation About This Web App :)</span>
                  </v-layout>
                </v-card-title>
                <v-container>
                  <v-text-field
                    label="Your Name / ID"
                    v-model="feedback.name"
                    clearable
                    color="orange"
                  ></v-text-field>
                  <v-spacer></v-spacer>
                  <v-text-field label="Title" v-model="feedback.title" clearable color="orange"></v-text-field>
                  <v-spacer></v-spacer>
                  <v-text-field label="Message" v-model="feedback.message" clearable color="orange"></v-text-field>
                  <v-layout justify-center align-center align-content-center row>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="orange" style="color:white" @click="form = false">Close</v-btn>
                      <v-btn
                        color="orange"
                        style="color:white"
                        @click="sendForm();form = false"
                      >Send</v-btn>
                    </v-card-actions>
                  </v-layout>
                </v-container>
              </v-card>
            </v-dialog>
          </template>
          <span style="color:white">Send Some Feedback</span>
        </v-tooltip>
        <v-tooltip top color="orange">
          <template v-slot:activator="{on}">
            <v-btn @click="files" v-on="on" flat>
              <v-icon dark color="white">list</v-icon>
            </v-btn>
          </template>
          <span style="color:white">Files</span>
        </v-tooltip>
      </v-layout>
    </v-bottom-nav>
  </v-app>
</template>

<script>
import router from "@/router";
import firebase from "firebase";
export default {
  data() {
    return {
      form: false,
      feedback: {
        name: "",
        title: "",
        message: ""
      }
    };
  },
  methods: {
    home: function() {
      router.push("/portal");
    },
    score: function() {
      router.push("/score");
    },
    files: function() {
      router.push("/files");
    },
    openForm: function() {
      (this.feedback.title = ""),
        (this.feedback.message = ""),
        (this.form = "on");
    },
    sendForm: function() {
      firebase
        .firestore()
        .collection("feedback")
        .add(this.feedback)
        .then(alert("Thank you for your feedback!"))
        .catch(r => {
          alert(r);
        });
    }
  }
};
</script>
